@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans:
    "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-serif: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #faf8f5;
    color: #1f2d3d;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
  }
}
